<html>
    <head>
        <title>File Dookie</title>
        <style>
            body {
                height: 100vh;
                overflow: hidden;
            }

            .main {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .navigations {
                display: flex;
                position: relative;
                width: 60%;
                justify-content: center;
                gap: 2rem;
                padding: 4rem;
                margin: 2rem;
                border: 1px solid #ccc;
                border-radius: 1rem;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

                transform: translateY(-100%);
            }

            .navigations h3 {

                position: absolute;
                color: rgba(0, 0, 0, 0.6);
                top: 0;
                right: 0;
                transform: translateY(-125%);
                transition: color 0.3s;

                background-color: white;
                border: 1px solid #ccc;
                border-radius: 0.25rem;
                padding: 0.25rem;

                z-index: 50;

            }

            .navigations:hover h3 {

                color: rgba(0, 0, 0, 1);

            }

            .navigations a {

                text-decoration: none;
                font-size: 2rem;
                border: 1px solid black;
                color: black;
                padding: 0.25rem 2rem;
                border-radius: 0.25rem;

                opacity: 0.6;
                transition: opacity 0.3s;

            }

            .navigations a:hover {

                opacity: 1;

            }

            .logo {
                display: flex;
                gap: 1rem;
                align-items: center;
                position: fixed;
                top: 0;
                left: 0;
                opacity: 0.8;

                transform: translate(10%, -10%);
            }

            .logo h2 {
                font-size: 3rem;
            }
        </style>
    </head>
    <body>

        <div class="logo">
            <h2>File Dookie </h2>
            <img src="/assets/icon.png" height="50px" width="50px" alt="">
        </div>

        <% if(user) { %>
            <div class="welcome">
                
            </div>
        <% } %>
        

        <div class="main">
            <% if(!user){ %>
                <div class="navigations">
                    <a href="/sign-up">Sign Up</a>
                    <a href="/log-in">Log In</a>
                </div>
            <% } else {%>
                <div class="navigations">
                    <h3><%= user.username %></h3>
                    <a href="/folders">Folders</a>
                    <a href="/log-out">Log out</a>
                </div>
            <% } %>
        </div>

    </body>
</html>